<html>
    <div id="add-album-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a new album</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form action="/albums/create" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label class="form-label" for="title">Title:</label>
                        <input class="form-control" type="text" name="title" id="title">
                        <br>
                        <label class="form-label" for="band-name">Band: <strong>{{band.name}}</strong></label>
                        <input class="form-control" type="hidden" name="band" id="band-name" value="{{band.id}}">
                        <br><br>
                        <label class="form-label" for="release_date">Release Date:</label>
                        <input class="form-control" type="date" name="release_date" id="release_date">
                        <br>
                        <label class="form-label" for="cover_art">Upload Cover Art:</label>
                        <input class="form-control" type="file" name="cover_art" id="cover_art">
                        <br>
                        <input type="hidden" name="added_by_id" value="{{request.session.current_user_id}}">
                        <br>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>