<html>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="bg-light rounded d-inline-block align-baseline me-1" src="{% static 'icons/music-note.svg' %}" alt="Logo">
                The Music Database
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bands">Bands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/albums">Albums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users">Users</a>
                    </li>
                </ul>

                <div class="d-flex align-items-center">
                    {% if request.session.current_username %}
                        <small class="">Signed in as: <a href="/users/{{request.session.current_user_id}}">{{request.session.current_username}}</a></small>
                        <a href="/logout"><button class="btn btn-outline-warning ms-3">Log Out</button></a>
                    {% else %}
                        <a href="/signin">Log In</a>
                        <a href="/register" class="ms-3"><button class="btn btn-success">Sign Up</button></a>
                    {% endif %}
                </div>

                
            </div>
        </div>
    </nav>

    <div id="messages" class="container position-fixed col-3 text-center">
        <div>
            {% for message in messages %}
                <p class="alert {{message.tags}}">{{message}}</p>
            {% endfor %}
        </div>
    </div>

</html>