<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main>
        <h1>Album List</h1>

        <table>
            <thead></thead>
            <tbody>
                {% for album in albums %}
                    <tr>
                        <td><img style="height: 100px;" src="{{album.cover_art.url}}"></td>
                        <td><a href="/albums/{{album.id}}">{{album.title}}</td>
                        <td><a href="/bands/{{album.band.id}}">{{album.band.name}}</a></td>
                        <td>{{album.release_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="{% static 'script.js' %}"></script>
</body>
</html>