<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main class="container rounded bg-dark mx-auto p-3">
        <h1>List of Bands</h1>
        {% if request.session.current_username %}
            <a href="/bands/new"><button class="btn btn-primary">Add a New Band</button></a>
        {% endif %}
        <table class="table table-striped table-secondary mt-3">
            <thead>
                <th>Name</th>
                <th>Genre</th>
                <th>Country</th>
                <th>Founded</th>
                <th>Status</th>
                <th>Number of albums</th>
            </thead>
            <tbody>
                {% for band in bands %}
                    <tr>
                        <td><a href="/bands/{{band.id}}">{{band.name}}</a></td>
                        <td>{{band.genre}}</td>
                        <td><img src="{{band.country.flag}}" alt="Flag of {{band.country.name}}"></td>
                        <td>{{band.founded}}</td>
                        <td>{{band.get_status}}</td>
                        <td><i>{{band.albums.count}} album(s)</i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>




    {% include 'util/scripts.html' %}
</body>
</html>