<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main class="container d-lg-flex align-items-start justify-content-evenly">
        <div id="newest-album-releases" class="container rounded bg-dark p-3 mx-lg-3 mb-3 mb-lg-0">
            <h3 class="mb-3">Newest Album Releases</h3>
            {% for album in newest_albums %}
            <div class="container rounded d-flex bg-secondary p-2 mb-3">
                <a href="/albums/{{album.id}}" class="me-3">
                    <img style="height: 100px;" src="{{album.cover_art.url}}" alt="{{album.title}} cover art">
                </a>
                <div class="my-auto">
                    <h5><strong>{{album.title}}</strong> by <a href="/bands/{{album.band.id}}">{{album.band.name}}</a></h5>
                    <br>
                    {{album.release_date}}
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="recently-added-bands" class="container rounded bg-dark p-3 mx-lg-3 mb-5">
            <h3>Recently Added Bands</h3>
            <ul>
                {% for band in recent_bands %}
                    <li>
                        <a href="/bands/{{band.id}}">{{band.name}}</a>
                        <ul>
                            <li>
                                <small><i>Uploaded by: </i><a href="/users/{{band.uploader_id}}">{{band.added_by.username}}</a> on {{band.created_at}}</small>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>


    {% include 'util/scripts.html' %}
</body>
</html>