<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register - The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main>
        <fieldset>
            <legend>Register a New Account</legend>
            <form action="/users/create" method="POST">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
                <br>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email">
                <br>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <br>
                <label for="confirm">Confirm:</label>
                <input type="password" name="confirm" id="confirm">
                <br>
                <button>Register</button>
            </form>
            <p>Already have an account? <a href="/signin">Sign In</a></p>
        </fieldset>
    </main>




    {% include 'util/scripts.html' %}
</body>
</html>