<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register - The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main>
        <fieldset class="container rounded bg-dark col-md-6 col-lg-4 p-3 mx-auto">
            <legend>Register a New Account</legend>
            <form action="/users/create" method="POST">
                {% csrf_token %}
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" type="text" name="username" id="username">
                <br>
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="text" name="email" id="email">
                <br>
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password">
                <br>
                <label class="form-label" for="confirm">Confirm:</label>
                <input class="form-control" type="password" name="confirm" id="confirm">
                <br>
                <button class="btn btn-success" type="submit">Register</button>
            </form>
            <br>
            <p>Already have an account? <a href="/signin">Sign In</a></p>
        </fieldset>
    </main>




    {% include 'util/scripts.html' %}
</body>
</html>