<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{band.name}} - The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main class="container d-flex justify-content-evenly">
        <div>
            {% if band.uploader_id == request.session.current_user_id %}
                <form action="{{band.id}}/destroy" method="POST">
                    {% csrf_token %}
                    <button>Delete Band</button>
                </form>
            {% endif %}
            <h2>{{band.name}}</h2>
            <p>Genre: {{band.genre}}</p>
            <p>Founded: {{band.founded}}</p>
            <p>Country: {{band.country.name}} <img src="{{band.country.flag}}" alt="Flag of {{band.country.name}}"></p>
        </div>
        <div>
            <h3>Albums</h3>
            {% if request.session.current_username %}
                <button id="add-album">Add an Album</button>
                <div id="album-form-container" style="display: none;">
                    {% include 'util/new_album_form.html' %}
                </div>
            {% endif %}
            {% for album in band.albums_recent_first %}
                <div>
                    <a href="/albums/{{album.id}}">
                        <img style="height: 100px;" src="{{album.cover_art.url}}" alt="{{album.title}} cover art">
                        {{album.title}}
                    </a>
                    {{album.release_date}}
                </div>
            {% endfor %}
        </div>
    </main>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="{% static 'script.js' %}"></script>
</body>
</html>