<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{album.title}} - The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main class="container d-lg-flex justify-content-evenly">
        <div>
            <form id="update-album-form" action="/albums/{{album.id}}/update" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 id="album-title">{{album.title}}</h1>
                <h3>By <a href="/bands/{{album.band.id}}">{{album.band.name}}</a></h3>
                <p id="album-release-date" class="fs-5">Released on: {{album.release_date}}</p>
                <div id="avg-rating" value="{{album.rating_avg}}">
                    {% if album.rating_avg != 0 %}
                        <div>
                            Stars go here
                        </div>
                        <p>Average rating: {{album.rating_avg}}</p>
                        <i>Rated by {{album.ratings.count}} users</i>
                    {% else %}
                        <div id="no-rating" class="text-light fs-2 position-relative">
                            <i class="bi-star"></i>
                            <i class="bi-star"></i>
                            <i class="bi-star"></i>
                            <i class="bi-star"></i>
                            <i class="bi-star"></i>
                        </div>
                        <p class="text-light fs-5">No ratings yet! 
                            {% if request.session.current_username %}
                                <span class="fs-6 text-success pointer" data-bs-toggle="modal" data-bs-target="#rate-album-modal">Be the first</span>
                            {% else %}
                                <a class="fs-6" href="/signin">Log in to rate</a>
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
                {% if request.session.current_username %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Actions</button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#rate-album-modal">Rate</li>
                            <li id="edit-album" class="dropdown-item pointer">Edit</li>
                            <li class="dropdown-item text-danger pointer" data-bs-toggle="modal" data-bs-target="#delete-album-modal">Delete</li>
                        </ul>
                    </div>
                {% endif %}
                <br>
            </form>
            <div>
                <br>
                <small><i>Added by: </i><a href="/users/{{album.added_by.id}}">{{album.added_by.username}}</a><i> on {{album.created_at}}</i></small>
                <br>
                <small><i>Last modified by: </i><a href="/users/{{album.last_edited_by.id}}">{{album.last_edited_by.username}}</a><i> on {{album.updated_at}}</i></small>
            </div>
        </div>
        <div id="album-artwork" class="mt-3">
            <img class="d-sm-none img-fluid" src="{{album.cover_art.url}}" alt="{{album.title}} cover art">
            <img class="d-none d-sm-block" style="height: 400px;" src="{{album.cover_art.url}}" alt="{{album.title}} cover art">
        </div>
    </main>

    {% if request.session.current_username %}
        {% include 'util/delete_album_modal.html' %}
        {% include 'util/rate_album_modal.html' %}
    {% endif %}

    {% include 'util/scripts.html' %}
</body>
</html>