<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{band.name}} - The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main class="container rounded mx-auto d-lg-flex justify-content-evenly">

        <div class="container rounded bg-dark p-4 mx-lg-3 mb-5 mb-lg-0">
            <h1>{{band.name}}</h1>
            {% if request.session.current_username %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Actions</button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item pointer">Edit</li>
                        {% if band.uploader_id == request.session.current_user_id %}
                            <li class="dropdown-item text-danger pointer" data-bs-toggle="modal" data-bs-target="#delete-band-modal">Delete</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            <p>Genre: {{band.genre}}</p>
            <p>Founded: {{band.founded}}</p>
            <p>Country: {{band.country.name}} <img src="{{band.country.flag}}" alt="Flag of {{band.country.name}}"></p>
        </div>

        <div class="container rounded bg-dark p-4 mx-lg-3">
            <h2>Albums</h2>
            {% if request.session.current_username %}
                <button id="add-album" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-album-modal">Add an Album</button>
                {% include 'util/add_album_modal.html' %}
            {% endif %}
            {% for album in band.albums_recent_first %}
                <div class="container bg-secondary rounded my-3 p-3">
                    <img class="d-inline-block me-3 mb-3 mb-sm-0" style="height: 200px; width: 200px;" src="{{album.cover_art.url}}" alt="{{album.title}} cover art">
                    <div class="d-inline-block">
                        <a class="no-decoration text-wrap" href="/albums/{{album.id}}"><h2>{{album.title}}</h2></a>
                        <p>{{album.release_date}}</p>
                    </div>
                    
                    
                </div>
            {% endfor %}
        </div>
    </main>

    {% if request.session.current_username %}
        {% include 'util/delete_band_modal.html' %}
    {% endif %}

    {% include 'util/scripts.html' %}
</body>
</html>