<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{album.title}} - The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main class="container d-flex justify-content-evenly">
        <div>
            <h1>{{album.title}}</h1>
            <h3>By <a href="/bands/{{album.band.id}}">{{album.band.name}}</a></h3>
            <br>
            <p>Released on: {{album.release_date}}</p>
            <br>
            <small><i>Added by: </i><a href="/users/{{album.added_by.id}}">{{album.added_by.username}}</a></small>
        </div>
        <img style="height: 400px;" src="{{album.cover_art.url}}" alt="{{album.title}} cover art">
    </main>




    {% include 'util/scripts.html' %}
</body>
</html>