<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{band.name}} - The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main class="container mx-auto d-lg-flex align-items-start justify-content-evenly">

        <div class="container rounded bg-dark p-4 mx-lg-3 mb-5 mb-lg-0">
            <div id="band-info">
                <h1 id="band-name"><span>{{band.name}}</span></h1>
                {% if request.session.current_username %}
                    <form id="update-band-form" class="container bg-dark" action="/bands/{{band.id}}/update" method="POST">
                    {% csrf_token %}
                {% endif %}
                <p>Genre: <span>{{band.genre}}</span></p>
                <p>Year Founded: <span>{{band.founded}}</span></p>
                <p>Country: <span>{{band.country.name}}<img class="ms-2" src="{{band.country.flag}}" alt="Flag of {{band.country.name}}"></span></p>
                <p>Status: <span>{{band.get_status}}</span></p>
                {% if request.session.current_username %}
                    </form>
                {% endif %}
            </div>
            {% if request.session.current_username %}
                <div id="band-actions-button" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Actions</button>
                    <ul class="dropdown-menu">
                        <li id="edit-band" class="dropdown-item pointer">Edit</li>
                        {% if band.uploader_id == request.session.current_user_id %}
                            <li class="dropdown-item text-danger pointer" data-bs-toggle="modal" data-bs-target="#delete-band-modal">Delete</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="container rounded bg-dark p-4 mx-lg-3">
            <h2>Albums</h2>
            {% if request.session.current_username %}
                <button id="add-album" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-album-modal">Add an Album</button>
                {% include 'util/add_album_modal.html' %}
            {% endif %}
            {% for album in band.albums_recent_first %}
                <div class="container bg-secondary rounded my-3 p-3">
                    <img class="d-inline-block me-3 mb-3 mb-sm-0" style="height: 200px; width: 200px;" src="{{album.cover_art.url}}" alt="{{album.title}} cover art">
                    <div class="d-inline-block">
                        <a class="text-wrap" href="/albums/{{album.id}}"><h2>{{album.title}}</h2></a>
                        <p>{{album.release_date}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    {% if request.session.current_username %}
        {% include 'util/delete_band_modal.html' %}

        <div id="update-band" class="d-none">
            {% include 'util/new_band_form_content.html' %}
            <div id="button-group">
                <button class="btn btn-warning" type="submit">Update</button>
                <button id="cancel" class="btn btn-secondary" type="button">Cancel</button>
            </div>
        </div>
    {% endif %}

    {% include 'util/scripts.html' %}
</body>
</html>