<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{album.title}} - The Music Database</title>
    {% load static %}
    {% include 'util/head.html' %}
</head>
<body>
    {% include 'util/navbar.html' %}

    <main>
        <h3>{{user.username}}'s profile</h3>
        <br>
        <p>Account created on: {{user.created_at}}</p>
        <h5>Contributions:</h5>
        <i>{{user.added_bands.count}} bands added</i>
        <br>
        <i>{{user.added_albums.count}} albums added</i>
    </main>




    {% include 'util/scripts.html' %}
</body>
</html>